.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;

  p {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
    color: #222;
  }
}
