.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.875rem;

    p {
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.25rem;
        color: var(--gray-90);
    }
}
