.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.5rem;

    p {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 130%;
        height: 38px;
    }
}

.helper {
    font-size: 0.8125rem;
    font-style: italic;
    color: var(--c-autumn);
}

.tag {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 0.75rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    z-index: 100;
}
