.container {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f2f2f2;
    padding: 0.5rem;

    &:hover {
        background-color: #ebebeb;
        cursor: pointer;
    }
}
