.header {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid var(--gray-5);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1816px;

    padding: 0 var(--mobile-mx);
    margin: 0 auto;

    @media (min-width: 768px) {
        padding-left: var(--tablet-mx);
        padding-right: var(--tablet-mx);
    }

    @media (min-width: 1024px) {
        padding-left: var(--tablet-lg-mx);
        padding-right: var(--tablet-lg-mx);
    }

    @media (min-width: 1280px) {
        max-width: 1176px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 1366px) {
        max-width: 1262px;
    }
}

.left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    a {
        line-height: 1;
    }
}

.logo {
    font-family: "Inter", sans-serif;
    font-size: 1.35rem;
    font-weight: 700;
}

.nav {
    display: flex;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--gray-50);

    li {
        padding: 0 0.5rem;
    }
}

.current {
    color: var(--gray-100);

    &:visited {
        color: var(--gray-100);
    }
}

.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;

    button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    span {
        display: none;
    }

    @media (min-width: 577px) {
        button {
            gap: 0.5rem;
            width: 100%;
            height: 40px;
            background-color: var(--gray-5);
            border-radius: 2.5rem;
            padding: 0 1rem;
            transition: background-color 0.1s ease;

            &:hover {
                background-color: var(--gray-10);
            }
        }

        span {
            display: inline-block;
        }
    }
}

.label {
    color: var(--gray-50);
}

.right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.admin {
    position: relative;
    font-size: 0.875rem;
}

.dropdown {
    position: absolute;
}

.avatar {
    display: block;
    position: relative;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--gray-10);
    font-size: 0.75rem;
}

.dropdown {
    position: absolute;
    top: calc(32px + 0.5rem);
    right: 0;
    transform: scale(0);
    transform-origin: 60px 0;
    min-width: max-content;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    padding: 1rem;
    z-index: 100;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdownOpen {
    transform: scale(1);
    opacity: 1;
}

.menuContent {
    display: flex;
    flex-direction: column;
}
