.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 var(--mobile-mx);

    @media (min-width: 431px) {
        padding: 0 var(--tablet-mx);
    }
}

.logo {
    font-family: "Inter", sans-serif;
    font-size: 1.35rem;
    font-weight: 700;
}
