.sortButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--primary-purple-faint);
    border-radius: 2rem;
    padding: 0.25rem 0.75rem;

    span {
        margin-left: 0.25rem;
        color: var(-100);
        font-weight: 500;
    }

    &:hover {
        background-color: var(--primary-purple-faint);
        cursor: pointer;
    }
}
