.container {
    padding: 0 var(--mobile-mx);

    h1 {
        text-transform: capitalize;
        margin-bottom: 0.5rem;
    }

    @media (min-width: 431px) {
        padding: 0 var(--tablet-mx);
    }
}
