.footer {
    width: 100%;
    height: 64px;
    border-top: 1px solid var(--gray-5);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1816px;
    padding: 0 var(--mobile-mx);
    margin: 0 auto;

    @media (min-width: 768px) {
        padding-left: var(--tablet-mx);
        padding-right: var(--tablet-mx);
    }

    @media (min-width: 1024px) {
        padding-left: var(--tablet-lg-mx);
        padding-right: var(--tablet-lg-mx);
    }

    @media (min-width: 1280px) {
        max-width: 1176px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 1366px) {
        max-width: 1262px;
    }
}

.menu {
    font-size: 0.6875rem;
    color: var(--gray-50);

    &:hover {
        text-decoration: underline;
    }
}

.copyright {
    font-size: 0.6875rem;
    color: var(--gray-50);
}
