.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1816px;
    height: 54px;
    font-size: 0.75rem;
    padding: 0 var(--mobile-mx);
    margin: 0 auto;

    @media (min-width: 768px) {
        padding-left: var(--tablet-mx);
        padding-right: var(--tablet-mx);
    }

    @media (min-width: 1024px) {
        padding-left: var(--tablet-lg-mx);
        padding-right: var(--tablet-lg-mx);
    }

    @media (min-width: 1280px) {
        max-width: 1176px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 1366px) {
        max-width: 1262px;
    }
}
