.container {
    padding: 1rem 1rem 0;
}

.content {
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 0;
}

.part {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.top {
    display: flex;
    align-items: center;
}

.year {
    display: inline-flex;

    &:before {
        content: "•";
        margin: 0 0.25rem;
    }
}

.genres {
    display: flex;

    li {
        margin-right: 0.25rem;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &:not(:last-child)::after {
            content: ", ";
        }
    }
}

.subHeader {
    font-size: 0.875rem;
    color: var(--gray-50);
    margin-bottom: 0.25rem;
}

.listItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.25rem 0;
}

.listTitle {
    font-size: 0.75rem;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.past {
    color: var(--gray-50);
}

.bold {
    font-weight: 600;
}
