.container {
    border-bottom: 1px solid #e5e5e5;
    padding: 2rem 0;

    h1 {
        margin-bottom: 1rem;
    }

    @media (min-width: 1280px) {
        padding-top: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.part {
    font-size: 0.875rem;
}

.top {
    display: flex;
    align-items: center;
}

.year {
    display: inline-flex;

    &:before {
        content: "•";
        margin: 0 0.25rem;
    }
}

.genres {
    display: flex;

    li {
        margin-right: 0.25rem;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &:not(:last-child)::after {
            content: ", ";
        }
    }
}

.subHeader {
    font-size: 0.875rem;
    color: var(--gray-50);
    font-weight: 500;
    margin-bottom: 0.35rem;
}

.listItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.25rem 0;
}

.listTitle {
    font-size: 0.75rem;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.link {
    font-size: 0.825rem;
}

.network {
    width: 32px;
    height: auto;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.past {
    color: var(--gray-50);
}

.bold {
    font-weight: 600;
}
