.home {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2rem;

    @media (min-width: 1280px) {
        margin: 2rem 0;
    }
}

.content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    z-index: 10;
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
