.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.header {
    text-align: center;
    margin-bottom: 1.5rem;

    h1 {
        font-size: 1.625rem;
        margin-bottom: 1rem;
    }
}

.form {
    button {
        margin: 1rem 0;
    }
}
