.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 0.75rem;
    }
}

.container {
    img {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
}
