.container {
    display: inline-block;
    border-radius: 2rem;
    background-color: var(--gray-5);
    font-size: 0.75rem;
    letter-spacing: 0.015rem;
    text-transform: capitalize;
    transition: background-color 0.2s ease-in-out;
    padding: 0.5rem 0.75rem;

    &:hover {
        background-color: var(--gray-10);
        cursor: pointer;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
