.options {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.option {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--c-neutral-200);
    border-radius: 2rem;
    background-color: #fff;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    transition: all 0.2s ease;
    text-wrap: nowrap;

    &:has(.radioInput:checked) {
        background-color: var(--c-active);
        border: 1px solid var(--c-active);
    }

    &:has(.radioInput:focus-visible) {
        box-shadow: 0 0 0 2px var(--c-active-tint);
    }
}

.radioInput {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
}

.radioInput {
    &:checked ~ .optionLabel {
        font-weight: 600;
        color: var(--c-active-tint);
    }
}

.emoji {
    font-size: 1.25rem;
}

.optionLabel {
    font-size: 1rem;
    font-weight: 600;
    color: var(--c-neutral-900);

    &[data-size="sm"] {
        font-size: 0.875rem;
    }
}

.helperText {
    font-size: 0.875rem;
    color: var(--c-neutral-800);
    margin-top: 1rem;
}
