.container {
    display: flex;
    gap: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--gray-20);
    border-radius: 2rem;
    padding: 0.35rem 1rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--gray-30);
    }
}
