.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.container {
    display: flex;
    gap: 0.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: transparent;
    border: 1px solid var(--gray-10);
    border-radius: 2rem;
    padding: 0.35rem;
    cursor: pointer;
}

.selected {
    background-color: var(--tomato-bg);
    border: none;
}

.lightButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    border-radius: 2rem;
    padding: 0.35rem;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-3);
    }
}
