.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.option {
    padding: 0.15rem 0;

    label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.9375rem;
        cursor: pointer;
    }
}

.checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    input[type="checkbox"] {
        appearance: none;
        width: 18px;
        height: 18px;
        border: 1px solid var(--gray-30);
        border-radius: 0.35rem;
        cursor: pointer;

        &:checked {
            background-color: var(--primary-purple-faint);
            border: none;
        }
    }

    svg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        stroke: var(--primary-purple);
    }
}

.button {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    font-weight: 600;
    color: #6d53b7;
    cursor: pointer;

    &:hover {
        color: var(--primary-purple);
    }
}
