@import "@/assets/styles/variables";

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header {
    margin-bottom: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: $tablet) {
        flex-direction: row;
    }
}

.section {
    h2 {
        margin-bottom: 0.5rem;
    }
}

.input {
    margin-bottom: 1.25rem;
}

.input {
    label {
        display: block;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }

    input {
        width: 100%;
        border: 1px solid #e8e8e8;
        font-size: 1rem;
        border-radius: 0.5rem;
        padding: 0.75rem 1rem;

        &.error {
            border: 1px solid var(--warning);
        }

        &:disabled {
            background-color: var(--gray-5);
        }
    }
}
