@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

:root {
    /* spacing */
    --mobile-mx: 1rem;

    --z-overlay: 1000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    letter-spacing: 0.12px;
    line-height: 22px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
}

/* typography */
h1 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.caption {
    font-size: 0.875rem;
}

.footnote {
    font-size: 0.75rem;
}

/* container */
.mx-container {
    padding: 0 var(--mobile-mx);
}

/* spacing */
.p-1 {
    padding: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

.gap-05 {
    gap: 0.5rem;
}
