@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

:root {
    /* spacing */
    --mobile-mx: 1rem;
    --tablet-mx: 2.5rem;
    --z-overlay: 1000;
    --gray-100: #0e0f12;
    --gray-90: #26272a;
    --gray-80: #3e3f41;
    --gray-70: #565759;
    --gray-60: #6e6f71;
    --gray-50: #868788;
    --gray-40: #9f9fa0;
    --gray-30: #b7b7b8;
    --gray-20: #cfcfd0;
    --gray-10: #e7e7e7;
    --gray-5: #f3f3f3;
    --gray-2: #f9f9f9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    letter-spacing: 0.12px;
    line-height: 22px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
}

/* typography */
h1 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.caption {
    font-size: 0.875rem;
}

.footnote {
    font-size: 0.75rem;
}

/* container */
.mx-container {
    padding: 0 var(--mobile-mx);
}

/* spacing */
.p-1 {
    padding: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

.gap-05 {
    gap: 0.5rem;
}
