.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    min-width: 152px;
    overflow: hidden;

    @media (min-width: 1440px) {
        // width: 152px;
    }
}
