.default {
    padding-left: var(--mobile-mx);
    padding-right: var(--mobile-mx);

    @media (min-width: 768px) {
        padding-left: var(--tablet-mx);
        padding-right: var(--tablet-mx);
    }

    @media (min-width: 1024px) {
        padding-left: var(--tablet-lg-mx);
        padding-right: var(--tablet-lg-mx);
    }

    @media (min-width: 1280px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.max {
    @media (min-width: 1280px) {
        max-width: 1176px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 1366px) {
        max-width: 1262px;
    }
}

.small {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
