@import "@/assets/styles/variables";

.placeholder {
    position: relative;
    display: flex;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: var(--gray-5);
    border-radius: 0.5rem;
}

.thumb {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: var(--gray-2);
    border-radius: 1.5rem;
    padding: 1.5rem;

    @media (min-width: $tablet) {
        flex-direction: column;
        width: 180px;
        max-height: 180px;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;

    &[data-status="liked"] {
        background-color: var(--tangerine-bg);
    }

    &[data-status="bookmarked"] {
        background-color: var(--gray-10);
    }

    &[data-status="watched"] {
        background-color: var(--gray-10);
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 1rem;
    // background-color: #f1dedc;

    @media (min-width: $tablet) {
        flex: 0;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1rem;
    }
}

.status {
    order: 1;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;

    @media (min-width: $tablet) {
        order: 2;
        font-size: 0.875rem;
        color: var(--gray-70);
    }
}

.number {
    order: 2;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.25rem;

    @media (min-width: $tablet) {
        order: 1;
    }
}

.chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    cursor: pointer;
    // background-color: #ced3ba;

    @media (min-width: $tablet) {
        display: none;
    }
}
